# Google Cloud Credentials & Topic Settings
GCP_PROJECT_ID=your-gcp-project-id
GCP_TOPIC_ID=digital_twin
GOOGLE_APPLICATION_CREDENTIALS=path/to/service-account-key.json

# Simulator Settings
PUBLISH_INTERVAL_SECONDS=5

